* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'RetroGaming';
    src: url(assets/fonts/PixelOperatorMono.ttf) format('truetype');
}
*{
  font-family: 'RetroGaming',monospace;  
  font-weight: 200;
}
body{
    background-color: rgb(226, 226, 226);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper{
    background-color: rgba(223, 223, 223, 0.027);
    width: 90%;
    padding: 1rem;
    max-width: 50rem;
}
#text1{
    /* background-color: rgba(255, 0, 0, 0.05); */
    margin: 1rem 0;
}
#text2{
    /* background-color: rgba(0, 0, 255, 0.08); */
    /* min-height: 3rem */
    margin-bottom:4rem;

}
#dialogue-text{
     background-color: rgba(0, 255, 0, 0.1);
}
#surprise-text{
    /* background-color: rgba(255, 0, 0, 0.411); */
}
#action-text{
    margin-top: 1rem;
}
#screen{
    margin: 2rem 0;
}

p{
    color: black;
    font-size: 20px;
}


.inputBox{
    outline: none;
    background-color: rgb(214, 214, 214);
    color: black;
    border: 0px solid rgba(255, 255, 255, 0.377);
    border-left: 2px solid rgb(31, 31, 31);
    width: clamp(10rem,40vw,20rem);
    font-size: 1.25rem;
    
}
.invisible{
    opacity: 0;
    pointer-events: none;
}